@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
.input-custom label{
    height:48px !important;
    border-radius: 8px !important;
    padding: 12px 16px;
    margin-top: 5px;
}
.create-button button {
    background-color: rgba(84, 159, 247, 1);
}